# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode config stuff
!.vscode/c_cpp_properties.json
!.vscode/tasks.json

# NDK stuff
out/
[Ll]ib/
[Ll]ibs/
[Oo]bj/
[Oo]bjs/
ndkpath.txt
*.zip
Dev/.vs/Stable/v16/Browse.VC.opendb
Stable/.vs/Stable/v16/Browse.VC.opendb
Dev/.vs/VSWorkspaceState.json
Dev/.vs/slnx.sqlite
Dev/.vs/Dev/v16/ipch/AutoPCH/ddabe2922b8552d3/START.ipch
Dev/.vs/Dev/v16/ipch/AutoPCH/b5055ca31b2c112b/MAIN.ipch
Dev/.vs/Dev/v16/ipch/AutoPCH/a3119c02b7a2e562/CONFIG.ipch
Dev/.vs/Dev/v16/ipch/AutoPCH/9fa71743c0f479a3/ARCHIVER.ipch
Dev/.vs/Dev/v16/ipch/AutoPCH/325d1ccad542149b/FILTERKEYDOM.ipch
Dev/.vs/Dev/v16/Browse.VC.db
Dev/.vs/Dev/v16/.suo
.vs/slnx.sqlite
.vs/Quest-Counters/v16/ipch/AutoPCH/14180bc7f12d0d8/MAIN.ipch
.vs/Quest-Counters/v16/Browse.VC.opendb
.vs/Quest-Counters/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/CMake Overview
